kallaxLogo {
  position: relative;
  width: 1em;
  height: 1em;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/kallax-logo-64.png");
}

#kallax-x {
  text-align: right;
  cursor: pointer;
  color: white;
  align-self: end;
  margin-right: 12px;
  grid-area: 1/2/2/3;
}

#kallax-menu, #kallax-login {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#kallax-shadow, #kallax-login-shadow {
  background-color: #222c;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99998;
}

#kallax-menu-container, #kallax-login-container {
  background-image: url("chrome-extension://__MSG_@@extension_id__/images/bkgd-water.png");
  background-size: cover;
  border-radius: 12px;
  padding: 0px;
  height: 18em;
  width: min(500px, 90%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 2em 4em 2em 1fr;
  grid-template-columns: 1fr 2em;
  padding: 0px;
  text-align: center;
  z-index: 99999;
}

#kallax-header {
  display: flex;
  justify-content: end; 
  background-color: transparent;
  color: white;
  padding: 0em 2em 0px 0px;
  grid-area: 1/1/3/2;
  align-self: center;
  text-align: right;
}

#kallax-body {
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 1em 2em 2em 2em;
  text-align: left;
  grid-area: 4/1/5/3;
}

#kallax-footer {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  grid-area: 3/1/4/3;
}

#kallax-title {
  font-size: 2em;
  font-weight: bold;
  max-width: calc(100% - 2em);
  line-height: 1em;
}

#kallax-link {
  background: #f37453;
  width: auto;
  display: inline;
  align-self: start;
  padding: 5px 25px;
  margin-right: 2em;
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 10px) 100%, 10px 100%);
}

#kallax-link a {
  color: white;
}

#kallax-profile-id, #kallax-profile-id input, #kallax-login, #kallax-login input, #kallax-login-description {
  text-align: center
}

#kallax-profile-id label {
  width: 100%;
}

#kallax-profile-id input {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

#kallax-login-button {  
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

#kallax-login-button input {
  padding: 3px 20px;
}

#kallax-login-error {
  color: red;
  text-align: center;
  margin-top: .5em;
  cursor: pointer;
}

#kallax-login-error-expand {
  cursor: pointer;
  font-style: italic;
  color: initial;
}

.kallax-hidden {
  display: none;
}